extends layout

block content
  div.container-fluid(style="padding-top: 2%")
    b Junior Software Engineer
    br
    p ArdentMC, Reston, Virginia | September 2017 - Present
    ul
      li Developed automated tests for an API, a library, and a mobile app
      li Used Jenkins to continuously integrate the tests into the build
      li Initialized Amazon Web Services ec2 instances and created servers using the instances
      li Researched and outlined the benefits of different data standards to be used for the team's product
    br
      
    b Quality Assurance Engineer Intern
    br
    p LL Bean, Freeport, Maine | May 2016 - August 2016
    ul
      li Assisted with automating test cases using Selenium and Java
      li Created a graphing tool for JIRA that reported status depending on launch
      li Utilized the SCRUM agile methodology to manage progress
    br
    
    b Customer Service Representative - 529 Plans
    p Boston Financial, Rockland, Maine | June 2015 - August 2015
    ul
      li Assisted clients with various 529 plan inquiries
    br
      
    b Junior Software Engineer
    br
    p SimIS Inc., Portsmouth, Virginia | June 2012 - July 2012
    ul
      li XAML and C# programming language utilization
      li Collaboratively assisted in the development of the Automated Intelligence Mentoring System (AIMS), a virtual training and evaluation software
    br
