extends layout

block content
  - function getdate(seconds) { var date = new Date(seconds*1000); return ((date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear()); }
  script(src='/scripts/post.js')
  div.container-fluid#postcontainer
    div.alert.alert-info#post(style='border-radius: 0; border-color: #bee5eb;')
      h3 init
      p Welcome to my blog! Access different information using the links above. You can access my jobtrakr website at #[a(href="https://jobtrakr.kvnlws.xyz") https://jobtrakr.kvnlws.xyz]
    if blogposts == undefined
      label Error retrieving posts.
    else
      each item, index in blogposts
        div.alert.alert-dark#post
          h3=item.subject + ' '
            small(style="font-size: 55%;")=getdate(item.date)
          p=item.content          
        
    
    
