$primary-color: #D2F1F7;
$secondary-color: #909596;
$third-color: #ff0000;

.alert {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.fa-k:before {
  font-family: Arial;
  font-weight: bold;
  content: 'K';
}

#navbar-large {
  font-size: 140%;
  float: none;

  * {
    color: white;
  }

  > .navbar-brand {
    font-size: 180%;
  }
}

#navbar-small {
  * {
    color: white;
  }
}

.nav-item:hover {
  border-bottom: solid 2px white;
}

#links {
  * {
    color: #5e6268;
  }
  > a {
    padding-left: 1px;
    padding-right: 1px;
  }
  i:hover {
    color: #dc3545!important;
  }
}

#footer {
  height: 30px;
  text-align: center;
}

#ciphergroup {
  padding-top: 2%;
  padding-bottom: 2%;
  // .nav-item {
  //   border-color: #dc3545;
  // }
  .active {
    border-radius: 0;
  }
}

@media (max-width: 768px) {
  #ciphergroup {
    font-size: 80%;
    font-weight: 900;
  }
}

#alphabets {
  text-align: center;
}

h4 {
  font-family: monospace;
}

#post {
  padding: 1%;
  margin-top: 1rem;
  border-radius: 0;
}
